body{
	font-family: "Comic Sans MS";
	color: #ff00ff;
	font-size: 1em;
}
header{
	font-family: "Times New Roman", Times, serif;
}
h1{
	color: #33cccc;
}
h2{
	color: #ffffff;
}
#outplay {
	min-height: 100%;
	min-width: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #66ccff;
}
section{
	background-color: black;
	font-family:Impact;
	color: #003399;
	font-size: 2em;
}

article{
	font-family: Arial;
	font-size: 3em;
	margin: 1px;
	padding: 5px;
	background-color: #ccff99;
	color: #000066;
}
nav {
	font-family: Verdana;
	font-size: 4em;
	color: #660066;
	float: right;
}
@media screen and (max-width: 1280px) {
	.final + p{
		display: grid;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		grid-column-start: 1;
		grid-column-end: 5;
		height: 200px;
	}
}
button:hover{
	color:red;
}
a.highlight:hover {
  color: #ff0000;
}
/* ik probeer zo veel mogelijk kleuren te vinden*/